<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head" />

<body>
  <nav th:replace="fragments/nav" />
  
  <div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}"></h2>
    <h3 th:text="#{private.welcome.message}"></h3>
    <p th:text="#{user.welcome.message}"></p>
    <p>
      <b sec:authentication="principal.username" th:inline="text"> </b>
    </p>
    
    <p sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.admin.message}">
    	
    </p>
     
    <p sec:authorize="hasRole('ROLE_STANDARD')" th:text="#{home.moneySum}">
    </p>
    <p style = "font-weight:bold;"  th:text="${userMoney} + ' ' +'&euro;' "> </p>
    
	<p sec:authorize="hasRole('ROLE_STANDARD')" th:text="#{offers.welcome.message}"> </p>
	
	<form class="navbar-form" action="/home">
	  <div class="form-group"> 
	  	<input name="searchText" type="text" class="form-control" size="50" th:placeholder="#{home.offers.searchPH}"> 
	  </div> 
	  <button type="submit" class="btn btn-outline-success" th:text="#{home.offers.search}"></button>
	</form>  
	
	<div sec:authorize="hasRole('ROLE_STANDARD')" class="table-responsive">
   	   <button type="button" id="updateButton" class="btn btn-primary"  style = "background-color: #38DFCE; color : white; font-weight: bold;" th:text="#{home.offers.update}">
	   </button>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$( "#updateButton" ).click(function() { 
			var numberPage = [[${param.page}]];
			var urlUpdate = '/home/update'; 
			if (numberPage != null ){ 
				urlUpdate += "?page="+numberPage[0]; 
			} 
			$("#tableOffers").load(urlUpdate);
		});
		/*]]>*/
	 </script>
	 <form class="navbar-form" action="/home" method="POST">
	  <table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
	    <thead>
	      <tr>
	        <th class="col-md-1">ID</th>
	        <th th:text="#{offers.list.title}"></th>
	        <th th:text="#{offers.list.description}"></th>
	        <th th:text="#{offers.list.amount}  + ' ( ' +  '&euro;' + ' )'"></th>
	        <th th:text="#{offers.list.date}"></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="offer : ${offerList}">
		    <td th:text="${offer.id}"> 1</td>
		    <td th:text="${offer.title}"> Title</td>
		    <td th:text="${offer.description}"> Description</td>
		    <td th:text="${offer.amount} + ' ' +  '&euro;'">10</td>
		    <td th:text="${offer.date}">2019-02-02</td>    
			<td>
				<!-- Available  -->
				<div th:if="${offer.isAvailable}"> 
					<button type="button" th:id="${'buyButton' + offer.id}" class="btn btn-info" th:text="#{home.list.buy}">Comprar</button>
					<script th:inline="javascript">
					  /*<![CDATA[*/
					  $("#buyButton[[${offer.id}]]").click(function() {
					    $.get("/home/[[${offer.id}]]/available", function(data) {
					    	location.reload();
/* 					      var numberPage = [[${param.page}]];
					      var urlUpdate = '/home/update';
					      if (numberPage != null) {
					        urlUpdate += "?page=" + numberPage[0];
					      }
					      $("#tableOffers").load(urlUpdate); */
					    });
					  }); 
					   /*]]>*/
					</script>			  
			  </div>
			  <!-- NOT available -->
			  <div th:unless="${offer.isAvailable}"> 
				<button type="button" th:id="${'noAvailable' + offer.id}" class="btn btn-danger" th:text="#{home.list.bought}">Comprado</button>
			  </div>
			</td>
	      </tr>
	    </tbody>
	  </table>
	  </form>  
	</div>
	  <footer sec:authorize="hasRole('ROLE_STANDARD')" th:replace="fragments/pagination"/>
  </div>
  <footer th:replace="fragments/footer" />
</body>

</html>