<!DOCTYPE html>
<html lang="en">

<!-- Fragmento de head -->
<head th:replace="fragments/head"/>

<body>
	<nav th:replace="fragments/nav"/>

  <div class="container" style="text-align: center">
  	<img src="/img/logo.png" alt="logo wallapop" />
  	
    <h1 style="font-size: 18px;" th:text="#{welcome.message}"></h1>
    
    <p  style="font-size: 18px;" th:text="#{welcome.body.login}"></p>
    <p  style="font-size: 18px;" th:text="#{welcome.body.register}"></p>
  </div>
  
  	<!-- Fragmento de footer -->
  <footer th:replace="fragments/footer"/>
  
</body>

</html>