<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	
	<script language="JavaScript">
		function toggle(source) {
			  checkboxes = document.getElementsByName('idChecked');
			  for(var i=0, n=checkboxes.length;i<n;i++) {
			    checkboxes[i].checked = source.checked;
			  }
		}
	</script>
	
<nav th:replace="fragments/nav" />

<div class="container">
  <h2 th:text="#{message.delete.title}"></h2>
  <form th:action='@{/message/delete}' method="POST">
    
    <!-- Tabla de mensajes -->
    <div>
		         	<section th:each="ofr : ${offersList}">
		         			<ul> 
			         			<li><input id="checkAll" type="checkbox" onClick="toggle(this)"/></li>
		         			</ul>	         			
					       <p th:text="${ofr.title}"></p>
					       <input type="checkbox" th:name="idChecked"  th:value="${ofr.id}"/>
					       <div th:each="msg: ${ofr.messagesExchanged}" th:if="${ofr.messagesExchanged != null and not #lists.isEmpty(ofr.messagesExchanged)}">
						       <ul>					            
						           <li th:text="${msg.sender.email}"></li>	
						           <li th:text="${msg.receiver.email}"></li>	
						           <li th:text="${msg.messageText}"></li>		
						           <li th:text="${msg.date}"></li>			           			   
						       </ul>
					       </div>
					   </section>
					   		<button type="submit" name='delete' value="delete"
				             class='btn btn-danger' style="font-weight: bold;"
				             th:text="#{message.list.delete}" th:if="${offersList != null and not #lists.isEmpty(offersList)}"
				             data-toggle="tooltip" data-placement="right">
				   		   </button>
     </div>
  </form>
</div>

  <footer th:replace="fragments/footer" />
</body>
</html>