<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	
<nav th:replace="fragments/nav" />

<div class="container">
  <h2 th:text="#{message.list.button}"></h2>
  <form class="form-horizontal" method="post" action="/message/list">
    
    <!-- Tabla de mensajes -->
    <div>
	      <table class="table table-hover" th:fragment="tableMessages" id = "tableMessages">
	      	<caption th:text="#{message.send.table.caption}" style=" display: table-caption; text-align: center;">Sent Messages</caption>
	        <thead>
	          <tr>
	          	<th></th>
	          	<th th:text="#{message.send.table.sender}">Sender</th>
	          	<th th:text="#{message.send.table.receiver}">Receiver</th>
	          	<th th:text="#{message.send.table.messageText}">Text</th>
	          	<th th:text="#{offers.list.amount}">Price</th>
	          	<th th:text="#{message.send.table.date}">Date</th>      	
	          </tr>
	        </thead>
	        <tbody th:each="ofr : ${offersList}">
	          	<tr th:each="msg: ${ofr.messagesExchanged}">
	          		<td th:text="${ofr.title}"></td>
	          		<td th:text="${msg.sender.name}+ ' -- ' + ${msg.sender.email} ">example@email.com</td>
		            <td th:text="${msg.receiver.name}+ ' -- ' + ${msg.receiver.email} ">example@email.com</td>
		            <td th:text="${msg.messageText}">Sent Message</td>
		            <td th:text="${ofr.amount}">Title</td>
		            <td th:text="${msg.date}">Date</td>
	          	</tr>
	          	<tr></tr>
	        </tbody>
	      </table>
     </div>
  </form>
</div>
  <footer th:replace="fragments/footer" />
</body>
</html>
